<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-between accordion-body-display">
      <h1 class="display-4 text-primary mb-0"><%= @todo_list.title %></h1>
      <div class="mt-3">
        <%= link_to 'Home', todo_lists_path, class: "btn btn-outline-secondary" %>
        <% if params[:view] == "kanban" %>
          <%= link_to new_todo_list_item_path(@todo_list),
            method: :get, 
            class: "btn btn-success",
            data: { bs_toggle: "tooltip", bs_placement: "left", bs_title: "Adicionar nova tarefa" } do %>
            <i class="fas fa-plus me-1"></i>Nova Tarefa
          <% end %>
        <% end %>
        <div class="btn-group" role="group" aria-label="View toggle button group">
          <input type="radio" class="btn-check" name="view_toggle" id="btnradio_list" autocomplete="off"
            <%= params[:view] != "kanban" ? "checked" : "" %>
            onchange="window.location.href='?view=list'">
          <label class="btn btn-outline-primary" for="btnradio_list">Lista</label>
          <input type="radio" class="btn-check" name="view_toggle" id="btnradio_kanban" autocomplete="off"
            <%= params[:view] == "kanban" ? "checked" : "" %>
            onchange="window.location.href='?view=kanban'">
          <label class="btn btn-outline-primary" for="btnradio_kanban">Kanban</label>
        </div>
      </div>
    </div>
  </div>
  <% if params[:view] == "kanban" %>
    <!-- Kanban -->
    <%= render 'shared/kanban', todo_list: @todo_list, items: @items %>
  <% else %>
    <!-- Lista -->
    <%= render partial: "shared/tasks_list", locals: { todo_list: @todo_list, items: @items } %>
  <% end %>
</div>
