<%= form_with(model: [todo_list, item]) do |form| %>
  <div>
    <%= form.label :title, "Título da tarefa" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :status, "Status" %>
    <%= form.select :status, Item.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>
  <%= form.submit "Salvar tarefa" %>
<% end %>
